html,
body,
#root {
  height: 100%;
}

* {
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: #c7c7cc;
  border-radius: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}

@keyframes slide-in-from-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-in.slide-in-from-right {
  animation: slide-in-from-right 0.2s ease-out;
}
